.m-plus-rounded-1c-regular {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
	box-sizing: border-box;
}

ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

ul h2{
	text-align: center;
}

body{
	padding: 0;
	margin: 0;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-weight: bold;
	background-color: rgb(148, 148, 148);
	min-height: 100vh;
}

main{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.calendar{
    width: 80%;
	height: 100vh;
	background-color: rgb(68, 68, 68);
	color: white;
}

.right-section{
	width: 20%;
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.events h2{
	text-align: center;
	font-size: 2em;
}

.calendar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
	
	height: 12%;
}

.calendar-body{
	max-height: fit-content;
	background-color: rgb(68, 68, 68);
}

.calendar-header .calendar-head{
	font-size: 40px;
}

.calendar-header button{
    background-color: transparent;
    border: none;
	color: white;
	font-size: 20px;
}

.calendar-days, .calendar-dates {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.calendar-dates .dates{
	background-color: rgb(68, 68, 68);
}

.calendar-days .days{
	text-align: center;
	padding: 4px;
}

.calendar-days .weekday{
    background-color: rgb(160, 160, 160);
}

.calendar-days .weekend{
    background-color: gray;
}

.calendar-dates .dates-text{
	text-align: left;
	padding: 0;
	padding-top: 0.5em;
	padding-left: 1em;
}

.calendar-dates .dropzones{
	padding: 0;
	min-height: inherit;
}

.calendar-dates .dates{
	min-height: 10vh;
	border: 1px solid white;
	border-collapse: collapse;
}

.event{
	touch-action: none;
	user-select: none;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	text-align: center;
	
	border: 3px solid white;
	border-radius: 5px;
	background-color: rgb(168, 168, 213);
	width: 180px;
	margin-bottom: 8px;
	
}

.event .title{
	border: none;
	background-color: rgb(128, 128, 192);
	width: 100%;
	height: 100%;
	
	font-size: 20px;
	font-weight: lighter;
}

.event .content{
	display:none;
	overflow: hidden;
	
	max-width: 90%;
	height: fit-content;
	padding: 0 18px;
	text-wrap: wrap;
	color: black;
}

.delete{
	margin: 0 auto;
	min-height: 10%;
	width: 50%;
	align-self: flex-end;
	
	border: 2px solid white;
	border-radius: 5px;
	opacity: 50%;
}

.delete h3{
	text-align: center;
}

#past{
	background-color: rgb(213, 255, 213, 0.4);
}

#today{
	background-color: rgb(0, 234, 0, 0.2);
}

#placed{
	width: inherit;
	max-width: 90%;
	font-size: inherit;
	margin: 0 auto;
	margin-bottom: 8px;
}